@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,400&family=Share+Tech+Mono&family=Space+Grotesk:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --typewriterSpeed: 4s;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

p {
  font-family: 'Space Grotesk', sans-serif;
}

a {
  font-family: 'Poppins';
}

/* CONTACT FORM STYLING */

label {
  font-family: "poppins";
  margin-top: 0.5rem;
}

input[type="text"], input[type="email"], textarea[name="message"] {
  padding: 0.3rem;
  border: 3px solid #76a5a3; 
  border-radius: 0.75rem;
  font-family: "share tech mono";
}

input[type="text"]:focus, input[type="email"]:focus, textarea[name="message"]:focus {
  border: 3px solid #2B7A78;
}

input[type="submit"] {
  /* width: 50%; */
  margin-top: 1rem;
  /* margin-left: auto;
  margin-right: auto; */
  background-color: #2B7A78;
  border-radius: 8px;
  padding: 0.5rem;
  font-family: "poppins";
  font-weight: 600;
  color: #FEFFFF;
  cursor: pointer;
}

input[type="submit"]:active {
  background-color: #276563;
}