@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;800&family=Poppins:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400&family=Share+Tech+Mono&family=VT323&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@font-face {
  font-family: "burtons";
  src: url('../public/Burtons.otf');
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --typewriterSpeed: 4s;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a, p {
  font-family: 'Share Tech Mono', monospace;
  /* font-family: 'Poppins', sans-serif; */
}